extends /layouts/application.pug

block content
  +formFor(f, { url: urlFor('logIn'), method: 'post' })
    +input(f, 'email')
    +input(f, 'password', { as: 'password' })
    +button(f)(value="Login")
